header {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    display: grid;
}
.main {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    padding-top: 60px;
    padding-bottom: 40px

}
h1 {
    text-align: center;
    font-size: 24px;
}

p {
    padding-left: 230px;
    padding-right: 230px;
  
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    text-align: center;
}
.topNavBar {
    overflow: hidden;
    color: whitesmoke;
    padding-top: 20px;
    padding-right: 100px;
    font-size: 17px;
    float: right;
}
.topNavBarLi {
    display: inline-block;
    padding: 14px 16px;
    
}
.topNavBarLi a {
    text-decoration: none;
    color: black;
}
.topNavBar Li a:hover{
    color: grey
}
.hiking {
    padding: 35px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.logo {
    float: left;
    padding: 35px 0px;
    display: block;
    margin-left: 100px;
    margin-right: auto;
    width: 5%;
}
.bottomNavBar {
    overflow: hidden;
    color: whitesmoke;
    padding-top: 20px;
    font-size: 14px;
}
.bottomNavBarLi {
    padding: 14px 16px;

    
}
.bottomNavBarLi a {
    text-decoration: none;
    color: black;
}
.bottomNavBar Li a:hover{
    color: grey
}